@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;700&display=swap');

/* INDEX */

*{
    padding: 0;
    margin: 0;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}
body {
    align-items: center;
    background-image: url(https://static.vecteezy.com/ti/gratis-vektor/p3/3332126-blue-neon-casino-roulette-on-blue-table-with-poker-chips-draufsicht-vektor.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 560px;
    padding: 20px;
    width: 380px;
}
.title {
    color: #eee;
    font-family: sans-serif;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    margin-top: 12px;
}
.subtitle {
    color: #eee;
    font-family: sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}
.input-container {
    height: 50px;
    position: relative;
    width: 100%;
}
.ic1 {
    margin-top: 30px;
}
.ic2 {
    margin-top: 25px;
}
.input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}
.cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}
.cut-short {
    width: 50px;
}
.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
}
.placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}
.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}
.input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
}
.input:focus ~ .placeholder {
    color: #dc2f55;
}
.validar {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 20px;
    outline: 0;
    text-align: center;
    width: 100%;
}
.validar:active {
    background-color: #06b;
}
.empezar {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 15px;
    outline: 0;
    text-align: center;
    width: 100%;
}
.empezar:active {
    background-color: #06b;
}
.disabled {
    background: #999;
    color: #555;
    cursor: not-allowed;
}

/* RULETA */
section.flexi-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: flex-start;
	width: 100%;
}
section .container {
	width: 100%;
	height: 100%;
}
#carpet {
	justify-self: center;
	background-color: #218964;
	padding-left: 10px;
	padding-right: 10px;
}
#juegoInfo {
	background-color: rgba(0,0,0, 0.5);
	margin-bottom: 20px;
    padding-left: 10px;
	padding-right: 10px;
	color: white;
	flex-direction: column;
}
table {
	width: 100%;
	border-collapse: collapse;
	color: white;
}
table tr th {
	border: 3px solid #D4AF37;
    width: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-content: center;
	background-color: #25a471;
}
table tr th.hide {
	border-width: 0px;
	background-color: #218964;
}

table tr th.negra { background-color: black; }
table tr th.roja { background-color: red; }

.cero{
    background-color: green;
    width: 35px;
}
.col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 10px 0px;
}

.num_ruleta{
    text-align: center;
}
.sale_el{
    font-size: 40px;
}
#num_ruleta{
    font-weight: 700;
    font-size: 60px;
    padding-bottom: 25px;
}

.logo{
    padding-bottom: 5px;
    width: 200px;
}

#exit{
    background-image: url(https://resources.sbcamericas.com/sbcamericas/2022/06/shutterstock_1933775606.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#fin_del_juego{
    background-color: #15172b85;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgb(235, 235, 235);
}
#fin_del_juego h1{
    padding-top: 100px;
    font-weight: 500;
    font-size: 50px;
    color: red;
}
#fin_del_juego h3{
    padding-top: 20px;
}

.admin{
    background-color: #dc2f55;
}

.btn{
    height: 40px;
    width: 70px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}

.black{
    background-color: black;
}

.jugada{
    background-color: #25a471;
    font-size: 16px;
}

.jugadaRoja{
    margin-top: 5px;
    background-color: #25a471;
    color: red;
}

.jugadaNegra{
    margin-top: 5px;
    background-color: #25a471;
    color: black;
}
.retirarse{
    background-color: #10704a;
}
.retiro{
    background-color: #10704a;
    color: white;
    font-size: 14px;
    font-weight: 700;
}

.ultimaColumna{
    width: 80px;
}

.swalGana{
    color: green;
    font-weight: 700;
    font-size: 80px;
}

.swalPierde{
    color: red;
    font-weight: 700;
    font-size: 80px;
}

footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: .5rem;
    background-color: #121924;
    color: rgb(114, 114, 114);
    text-align: center;
}
footer span{
    font-weight: 700;
}

.btnConfirmSWAL{
    text-decoration: none;
    color: #808097;
}

.btnlogAdmin{
    text-decoration: none;
    background-color: #7707a3;
    color: white;
}

#panelAdmin{
    background-image: url(https://blog.grosvenorcasinos.com/wp-content/uploads/2020/01/header_dice_dark_background.jpg);
    display:block;
}

#botonesPA{
    display:flex;
    justify-content: center;
}

.containerPA {
    padding: 2px 16px;
    color: white;
}

.tabla_jugadores{
    color: white;
    text-align: center;
}

.header_tabla{
    background-color: #06b;
    border-color: white;
    text-align: center;
}

.hID{
    width: 10%;
}
.hNombre{
    width: 20%;
}
.hApellido{
    width: 20%;
}
.hEdad{
    width: 10%;
}
.hGanPerd{
    width: 20%;
}
.hDinero{
    width: 20%;
}

.titulo_admin{
    color: #D4AF37;
}

.btn_admin{
    margin: 10px;
    background-color: rgb(119, 7, 163);
    width: 200px;
}

.btn_fetch{
    margin: 10px;
    background-color: rgb(163, 7, 111);
    width: 200px;
}

.btn_inicio{
    margin: 10px;
    width: 200px;
}